html
  head
    a="Recommendations for: " + accounts
    br
    br

  body
    br
    a="test"
    each account in accounts
      br
      br
      a=account.Type + " (" + account.AcctNum + ")"
      br
      &nbsp;
      a="Balance: $" + account.Balance
