html
  head
    a="Recommendations for: " + accounts
    br
    br
    link(rel='stylesheet', href='css/Home.css')
    style
      include css/Home.css

  body
    br
    a="test"
    each account in accounts
      br
      br
      a(href="/Accounts/"+account.AcctNum)=account.Type + " (" + account.AcctNum + ")"
      br
      a="Balance: $" + account.Balance
