html
  head
    div(class="topnav" id="head")
      a(href="/Home.html")="Home "
      a(href="/Quote.html")="Quote "
      a(href="/Accounts.html")="Accounts "
      a(href="/StockList.html")="Stock List"
    style
      include css/AccountList.css
    script
      include js/AccountList.js
    script
      include js/Logout.js

  body(onload="sessionStatus()")
    br
