body {
  background-color: powderblue;
  text-align: center;
  color: red;
  font-size: 30px;
}

#account {
  color: blue;
}

#account:hover {
    color: yellow;
}

#accountList {
  font-size: 20px;
}

#btnRecommendations {
  padding: 10px 24px;
}
